html,body {
  width: 100%;
  height: 100%;
}

.title{
  position:absolute;
  left:30%;
  color:rgb(140,200,180);
  z-index: 10;
}

body {
  font: 1.2em/1.4 'Oswald', sans-serif;
  color: #fff;
}

.rolldown-list {
  top:15%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  text-transform: uppercase;
}

.rolldown-list li {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: #444;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: #333;
}

#myList {
  position: absolute;
  width: 50%; 
  left: 50%;
  margin-left: -25%;
}

#btnReload {
  float: right;
  color: #333;
  background: #ccc;
  text-transform: uppercase;
  border: none;
  padding: .5em 1em;
}

#btnReload:hover {
  background: #ddd;
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}