html,body {
  width: 100%;
  height: 100%;
  background-color: white ;
  background-image: url("../images/background-polka.jpg");
  background-repeat: repeat;
  font:  1.2em/1.4 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.catName, .noOfPosts{
  color:rgb(250,250,250);
}

.title{
  position:relative;
  top: 5%;
  left:10%;
  color: #2A363B  ;
  z-index: 10;
}

.home{
  position:absolute;
  right:1%;
  top:2%;
  color: yellowgreen  ;
  z-index: 10;
}
.rolldown-list {
  position: relative;
  top:2%;
  left:0;
  text-align: left;
  padding: 0;
  margin-bottom: :2%;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  /*text-transform: uppercase;*/

}

.rolldown-list li {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;

}

.rolldown-list li:nth-child(2n) {
  background-color: #76A63f;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: yellowgreen;
}

#myList {
  position: relative;
  width: 60%;
  margin-left: 3%;
  margin-top: 2%;
  color:white;

}

.categoryFunctions{
  position: absolute;
  right: 5%;
  top:15%;
}

.displayPosts{
  margin-left: 5%;
}

button{
  cursor: pointer;
  margin: 2%;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
}
form button{
  position: relative;
  margin-left: 3%;
  background-color: yellowgreen;
  width:90%;
  margin-bottom: 5%;
}

.categoryFunctions input{

  right:5%;
  margin: 2%;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
}
form p{
  margin-left: 5%;
}
.filterPosts, .addCat, .remCat{
  padding-top: 2%;
  color:white;
  width:100%;
  margin: 2%;
  background-color: rgb(0,0,0,0.76);
  font-size: 20px;
  outline: 0;
}

.posts{
  position: absolute;
  width:55%;
  top:2%;
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.post-container{
  position: relative;
    background-color: white;
    border:0;
    box-shadow:  10px 4px 120px -32px rgba(0,0,0,0.44);
    padding: 2%;
    margin-bottom: 2%;
}
.actid{
  position: relative;
  color:rga(0,0,0,0.5);
  size:3%;
  margin-top: -1%;

}
.upvote{
  transform:scale(0.4);
  opacity: 0.6;
  position: absolute;
  top:40%;
  right:-5%;
}
.upvote:hover{
  cursor:pointer;
  opacity: 0.8;
}

.usericon{
  transform: scale(0.8);
  position: relative;
  left: 0;
  top: 0;
}

.username{
  position: relative;
  margin-top: -6%;
  margin-left: 12%;

}
.cat{
  position: relative;
  right:0;
  color:rga(0,0,0,0.5);
  size:3%;
  margin-top: -2%;
  margin-left: 70%;

}
.post-img{
  width:80%;
  margin-top:3%;
}

.post-container .removePost{
  position: absolute;
  top:1%;
  right:2%;

}






@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
